*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#rock{
    background-color: red;
    color: white;
}

#rock:hover{
    background-color: rgb(148, 20, 20);
    transform: scale(1.08);
    color: white;
}

#paper{
    background-color: green;
    color: black;
}

#paper:hover{
    background-color: rgb(11, 85, 11);
    transform: scale(1.08);
    color: black;
}

#scissor{
    background-color: blue;
    color: white;
}

#scissor:hover{
    background-color: rgb(15, 15, 59);
    transform: scale(1.08);
    color: white;
}
.container{
    width: 100%;
    height: 25vh;
    top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.option{
    font-size: 20px;
    margin: 7px;
    padding: 12px;
    border-radius: 4px;

}

#heading{
    display: flex;
    position: relative;
    justify-content: center;
    margin: 5px auto;
    text-align: center;
    top:20px;
}

#over{
    display: block;
    text-align: center;
    margin: 0px auto;
    font-size: 20px;
    padding: 12px;
    border-radius: 4px;
    background-color: yellow;

}
#over:hover{
    background-color: rgb(126, 126, 15);
    transform: scale(1.08);

}


.result{
    display: flex;
    color: black;
    justify-content: left;
    flex-direction: column;
}

#Score{
    color: black;
}